<div id="categories" class="categories">
    <h1 class="categories-title">Categories</h1>
    <hr>
    <div class="row categories-list">
        <div class="col-xs-12">
            <%- list_categories(page.categories) %>
        </div>
    </div>
</div>
